@using System.Text.Json
@using Jina.Domain.Example
@using Jina.Passion.FE.Client.Base
@using Jina.Passion.FE.Client.Pages.Weather.Services
@using KakaoMapBlazor
@using KakaoMapBlazor.Enums
@using KakaoMapBlazor.Map
@using KakaoMapBlazor.Marker
@using KakaoMapBlazor.Models

@inherits FormPageComponentBase

<PageContainer>
    <Content>
        <Form Model="@SelectedItem"
              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed"              
              LabelColSpan="4"
              WrapperColSpan="16"
              ValidateMode="FormValidateMode.Complex"
              Size="@AntSizeLDSType.Small">
              <FluentValidationValidator @ref="_fluentValidationValidator" />
              <GridRow>
                  <GridCol Span="12">
                    <FormItem Label="@nameof(this.SelectedItem.Id)">
                        <Input Value="this.SelectedItem.Id" ReadOnly />
                     </FormItem>
                  </GridCol>
                 <GridCol Span="12">
                     <FormItem Label="@nameof(this.SelectedItem.City)">
                         <Input Value="this.SelectedItem.City" />
                     </FormItem>
                 </GridCol>
              </GridRow>
              <GridRow>
                 <GridCol Span="12">
                     <FormItem Label="@nameof(this.SelectedItem.Date)">
                         <DatePicker TValue="DateOnly?" @bind-Value="this.SelectedItem.Date" Picker="@DatePickerType.Date" />
                     </FormItem>
                 </GridCol>
                 <GridCol Span="12">
                     <FormItem Label="@nameof(this.SelectedItem.TemperatureC)">
                         <Input @bind-Value="this.SelectedItem.TemperatureC" />
                     </FormItem>
                 </GridCol>
              </GridRow>
             <GridRow>
                 <GridCol Span="12">
                     <FormItem Label="@nameof(this.SelectedItem.TemperatureF)">
                         <Input Value="this.SelectedItem.TemperatureF" ReadOnly />
                     </FormItem>
                 </GridCol>
                 <GridCol Span="12">
                     <FormItem Label="@nameof(this.SelectedItem.Summary)">
                         <Input @bind-Value="this.SelectedItem.Summary" />
                     </FormItem>
                 </GridCol>
                 <GridCol Span="12">
                 </GridCol>
             </GridRow>
              <FormItem WrapperColOffset="8" WrapperColSpan="16">
                  <Button HtmlType="submit" >
                      Submit
                  </Button>
              </FormItem>
        </Form>
    </Content>
    <ChildContent>
        <KakaoMapComponent
            CreateOption="mapCreateOption"
            OnMapCreated="OnMapCreated"
            Style="width: 100%; height: 500px;">
        </KakaoMapComponent>
    </ChildContent>
</PageContainer>

 @code {
    [Parameter]
    public WeatherForecast SelectedItem { get; set; }

    [Inject]
    public WeatherService WeatherService { get; set; }

    private FluentValidationValidator _fluentValidationValidator;

    IKakaoMap KakaoMap;
    MapCreateOption mapCreateOption = new MapCreateOption(new LatLng(33.450701, 126.570667))
        {
            MapTypeId = MapType.RoadMap,
            Level = 4,
        };

    protected void OnMapCreated(IKakaoMap map)
    {
        KakaoMap = map;
        KakaoMap.Click += async (s, e) =>
        {
            await this.Js.InvokeVoidAsync("console.log", "OnClick", e);
        };
        KakaoMap.Click += async (s, e) =>
        {
            var position = e.LatLng;
            var marker = await KakaoMap.CreateMarker(new MarkerCreateOptionInMap
                {
                    Position = position,
                });

            marker.Click += async (s, _) =>
            {
                await Js.InvokeVoidAsync("console.log", "marker clicked");
            };
        };
    }


    private void OnFinish(EditContext editContext)
    {
        //call save api
        Console.WriteLine($"Success:{JsonSerializer.Serialize(SelectedItem)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(SelectedItem)}");
    }
}
