@using Jina.Passion.Client.Share.Consts
@layout UserLayout

<EditForm Model="@_tokenModel" OnValidSubmit="SubmitAsync">
    <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudIcon Icon="@Icons.Material.Filled.Notifications" Size="Size.Large" ViewBox="0 0 500 500" Style="width: 100px; height: 100px;" />
            </div>
        </MudItem>
        
        <MudItem xs="12">
             <MudTextField ReadOnly="true" T="string"
                       Label="@Localizer["LBL00012"]"
                       Lines="3"
                       Variant="Variant.Outlined"
                       Text="Notification"
                       Adornment="Adornment.End" />
             <MudSpacer /> 
        </MudItem>
        
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudImage Src="/images/logos/logo_neochair_170x@2x.jpg" Style="color:#F26649; width:160px;" />
            </div>
        </MudItem>
        
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4" Style="color:#F26649;">DEMO</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                @* @{ *@
                @*     var version = $"V{_applicationConfigHandler.Config.AppVersion}";  *@
                @* } *@
                <MudText>@Localizer["LBL00001"] v0.0.1</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText>@Localizer["LBL00002"] <MudLink Href="/register">@Localizer["LBL00009"]</MudLink></MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudSelect T="string" Placeholder="@Localizer["LBL00003"]" Label="@Localizer["LBL00003"]" AnchorOrigin="Origin.BottomCenter" @bind-Value="@CultureInfoViewModel.SelectedLanguageCode">
                    @foreach (var contry in LocalizationConstants.SUPPORTED_COUNTRIES)
                    {
                        <MudSelectItem T="string" Value="@contry.LanguageCode">@contry.LanguageDisplayName</MudSelectItem>
                    }
                </MudSelect>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="TenantId" Variant="Variant.Outlined"
                      @bind-Value="_tokenModel.TenantId" RequiredError="Required tenant id" Required="true" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="@Localizer["LBL00004"]" Variant="Variant.Outlined"
                          @bind-Value="_tokenModel.Email" RequiredError="@Localizer["LBL00010"]" Required="true" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="@Localizer["LBL00005"]" Variant="Variant.Outlined"
                      @bind-Value="_tokenModel.Password" RequiredError="@Localizer["LBL00011"]" Required="true"
                          InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-space-between align-center">
            <MudCheckBox T="bool" Label="@Localizer["LBL00006"]" Color="Color.Primary" Class="ml-n1" bind-Value="@_tokenModel.RemamberMe"></MudCheckBox> <MudLink Href="/account/forgot-password">@(Localizer["LBL00008"].xValue<string>("패스워드 찾기"))</MudLink>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@(!Validated)" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">@(Localizer["LBL00007"].xValue<string>("로그인"))</MudButton>
        </MudItem>
        
        @if (_visibleDebugAccount) 
        {          
            <MudItem xs="12">
                <MudButton OnClick="FillAdministratorCredentials">DEBUG MODE : Fill Administrator Credentials</MudButton>
            </MudItem>
        }
        
        @if (_enableUpdate)
        {
            <MudItem xs="12">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">VERSION UPDATE</MudButton>
            </MudItem>
        }
    </MudGrid>
</EditForm>